a{
  color: #11999E;
}

body{
  text-align: center;
  margin: 0;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

h1{
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  font-size: 5.62rem;
  margin: 0 auto 0 auto;

}

h2{
  color:#66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;


}

h3{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;

}

hr{
  border-width: 8px;
    width: 5%;
    border-style:  dotted none none;
    color: #a9f1df;
}

p{
  line-height: 2;
}

a{
  color: #11999E;
  margin-right: 40px;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}

.topContainer{
  background-color: #faf1e6;
  position: relative;
  padding-top: 100px;
}

.middleContainer{
  padding: 100px 0;
  background-color: #e4efe7;
}

.bottomContainer{
  background-color: #66bfbf;
  padding: 20px;
}



.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}



.intro{
  width: 30%;
  margin: 0 auto 3em auto;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}


.myPic{
  border-radius: 100%;
}

.programmer{
  font-weight: normal;
}



.upperCloud{
  position: relative;
  left: 300px;
}

.lowerCloud{
  position: absolute;
  left: 300px;
}

.dev-img{
  width: 30%;
  float: left;
  margin-right: 30px;
  line-height: 2;
}

.ml-img{
  width: 30%;
  float: right;
  margin-left: 30px;
  line-height: 2;
}

.btn {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 10px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 20px;
   font-weight: 100;
   padding: 20px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #337FED 1px;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 10px;
   text-decoration: none;
}


